.categories {
  display: flex;
  justify-content: space-between;

  @include tablets {
    justify-content: space-evenly;
  }

  &__radio {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  &__subtitle {
    position: relative;
    padding-left: 25px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: '';
      border-radius: 50%;
    }

    &::before {
      top: -2px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #fff;
    }

    &::after {
      top: 50%;
      left: 5px;
      width: 10px;
      height: 10px;
      background: #fff;
      transform: translateY(-50%) scale(0);
      transition: .3s all ease-in;
    }
  }

  &__radio:checked + .categories__subtitle::after {
    transform: translateY(-50%) scale(1);
  }
}
